*{
    margin: 0 ;
    padding: 0;
    color: yellow;
    text-align: center;
}

.grid{
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    'logomarca cabecalho cabecalho'
    'busca busca busca '
    'lesquerdo c1 c2'
    'lesquerdo c3 c4'
    'rodape rodape rodape';
    background-color: gray;
}


#d1{
   grid-area: logomarca;
    background-color: black;
}


#d2{
  grid-area: cabecalho;
    background-color:darkcyan;
}


#d3{
   grid-area: busca;
    background-color: green;
}


#d4{
    grid-area: lesquerdo;
    background-color: red;
}

#d5{
    grid-area: c1;

    background-color: darkmagenta;
}


#d6{
    grid-area: c2;
    background-color: darkgrey;
}

#d7{
    grid-area: c3;
    background-color: darkslateblue;
}

#d8{
    grid-area: c4;
    background-color: darkgrey;
}

#d9{
    grid-area: rodape;
    background-color: tomato;
}