body{
    margin:  0 auto;
    padding: 0;
    height: 616px; 
    width: 996px;
    
}


.container{
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr ;
    grid-template-rows: 200px 416px;
    justify-content: center;
    margin-top: 100px;
    
}

.banner{
   background-color: darkblue; 
   grid-column-start: 1;
   grid-column-end: 5;
}

.botoes{
    background-color: tomato;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.texto{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    text-justify:distribute ;
    text-align: justify;
    padding: 10px;
}

.videos{
    background-color: brown;
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
} 

.v1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: sienna;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.botoes>a{
    background: red;
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
}

#b1{
    grid-row-start: 1;
    grid-row-end: 2;
    
}

#b2{
    grid-row-start: 2;
    grid-row-end: 3;
}

#b3{
    grid-row-start: 3;
    grid-row-end: 3;
}

.botoes>a:hover{
    background: black;
}

.banner>img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.v2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: black;
}

.v3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color:olivedrab;
}

.v4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: gray;
}


