    img{
        height: 50px;
        width: 100px;
        text-align: center;
        justify-items: center;
        align-content: center;
        
        
    }

    td{
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        text-align: center;
    }

    tr{
        text-align: center;
    }
